.footer {
  padding: 67px 200px 60px;
}

.footer__copyright {
  font-size: 18px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 1135px) {
    .footer {
        padding: 67px 66px 60px;
    }
  }

@media screen and (max-width: 985px) {
    .footer {
        padding: 67px 182px 60px;
    }
  }

@media screen and (max-width: 800px) {
    .footer {
        padding: 67px 121px 60px;
    }
  }